//variables
$primary:#020202;//#008b8b; seablue
$secondary: #fe0000;//#e89A00;  yellow
$extra:#4e2727;//lighten(#005f5f, 5%); //#122c40;

$blendColor: #00000029;
$lightblack:#000000ab;

$navFont:'Roboto Condensed', sans-serif;
$contentFont : 'Ubuntu', sans-serif;
$navbarHeight :120px;
$smallNavbarHeight: 80px;

//for scroll
$paddingTop:$smallNavbarHeight;
$marginBottom: -$smallNavbarHeight;

$mediaQueryWidth: 760px;
