//variables
$primary:#020202;//#008b8b; seablue
$secondary: #fe0000;//#e89A00;  yellow
$tertiary: #024249;
$extra:#16817a;

$blendColor: #00000029;
$lightblack:#000000ab;

$navFont:'Roboto Condensed', sans-serif;
$contentFont : 'Ubuntu', sans-serif;
$navbarHeight :120px;
$smallNavbarHeight: 80px;
$footer_drawer_bg:linear-gradient(45deg,#4e2727, #210505);
$footer_drawer_FontColor:#ff7e7e;

//for scroll
$paddingTop:$smallNavbarHeight;
$marginBottom: -$smallNavbarHeight;

$mediaQueryWidth: 760px;
